.DS_Store
.tmp
Build
.idea
BuildPipeline/bin
BuildPipeline/obj
*.DotSettings
Library
Logs
UserSettings
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
LD47Project.sln
Temp
Server/bin
Server/obj
Server/game.db
obj
